In [1]:
x = 10
y = 3.14
name = "Arya"
is_active = True

print(x, type(x))
print(y, type(y))
print(name, type(name))
print(is_active, type(is_active))

10 <class 'int'>
3.14 <class 'float'>
Arya <class 'str'>
True <class 'bool'>

In [2]:
a = "25"
b = "2.5"

a_int = int(a)
b_float = float(b)

print(a_int, type(a_int))
print(b_float, type(b_float))

25 <class 'int'>
2.5 <class 'float'>

In [3]:
a = 7
b = 3

print("a+b =", a+b)
print("a-b =", a-b)
print("a*b =", a*b)
print("a/b =", a/b)
print("a//b =", a//b)
print("a%b =", a%b)
print("a**b =", a**b)

a+b = 10
a-b = 4
a*b = 21
a/b = 2.3333333333333335
a//b = 2
a%b = 1
a**b = 343

In [4]:
x = 10
y = 12

print(x == y)
print(x != y)
print(x < y)
print(x <= y)
print(x > y)
print(x >= y)

False
True
True
True
False
False

In [6]:
score = 78

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"

print("Grade:", grade)

Grade: C

In [7]:
text = "Belajar Python"

print("Length:", len(text))
print("Upper:", text.upper())
print("Lower:", text.lower())
print("Replace:", text.replace("Python", "Coding"))

print("First char:", text[0])
print("Last char:", text[-1])
print("Slice [0:7]:", text[0:7])

Length: 14
Upper: BELAJAR PYTHON
Lower: belajar python
Replace: Belajar Coding
First char: B
Last char: n
Slice [0:7]: Belajar